<html>
    <head></head>
    <body>    
        <div class="row">

            <div class="container col-lg-12 lg-12 " id="container">
                <div class="form-container sign-up-container">
                    <form [formGroup]="forLeave" (ngSubmit)="onSubmit()"method="post">
                        <h2 style="color:grey"><b>Leave Application Form</b></h2>
            
                    <div id="divUp"class="row">
                        <select formControlName="reason" value=""id="">
                            <option value="Sick Leave">Sick Leave</option>
                            <option value="Going to Trip">Going To Trip</option>
                            <option value="Personal Problem">Personal Problem</option>
                        </select>
                        <div class="col-6 div" >
                            <label for="">From</label><br>
                            <input type="date" formControlName="from" name="from" value="" class="form-control">
                        </div>
                        <div class="col-6 div">
                            <label for="">To</label>
                            <input type="date" formControlName="to" name="to" value=""class="form-control">
                        </div>
                        <button class="btn2 btn btn-block">Apply</button>
                    </div>
                        
                    </form>
                </div>
             </div>
            </div>         
    </body>
</html>
    